/* Centra il testo */
.text-container {
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra orizzontalmente */
    height: 100vh; /* Occupa tutta l'altezza dello schermo */
    width: 100%; /* Occupa tutta la larghezza disponibile */
    text-align: center;
    color: #7e915a; /* Verde salvia */
    font-size: 400%;
    font-family: "Great Vibes", sans-serif;
}
/*----------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------sidebar----------------------------------------------*/
.sidebar {
    height: 100%;
    width: 0%; /* 0% - cambia con JavaScript per mostrare il menu */
    position: fixed;
    top: 0;
    left: 0;
    background-color: #b6c990;
    overflow-x: hidden; /* Disabilita lo scroll orizzontale */
    padding-top: 10%;
    transition: width 0.5s ease-in-out;
}

.sidebar a {
    text-decoration: none;
    font-size: clamp(16px, 6vw, 44px);
    /* font-size: 4vw; */ /* Adatta la dimensione del testo */
    color: white;
    display: block;
    transition: width 0.3s ease-in-out;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 5%;
    font-size: 6vw; /* Adatta la dimensione del pulsante di chiusura */
    margin-left: 5%;
}
/*----------------------------------------------------------------------------------------------------*/
/*---------------------------------------- Bottone sidebar ------------------------------------------*/
.openbtn {
    font-size: clamp(16px, 10vw, 44px);; /* Dimensione dinamica dell'icona */
    cursor: pointer;
    background-color: #b6c990;
    color: white;
    border: none;
    position: fixed;
    top: 2%; /* Margine dall'alto */
    left: 2%; /* Margine da sinistra */
    z-index: 1000; /* Assicura visibilità sopra gli altri elementi */
    padding-top: 0.5vw; /* Lascia che il padding si adatti automaticamente */
    padding-bottom: 0.5vw; /* Lascia che il padding si adatti automaticamente */
    padding-right: 2vw; /* Lascia che il padding si adatti automaticamente */
    padding-left: 2vw; /* Lascia che il padding si adatti automaticamente */
    width: auto; /* Lascia che la larghezza si adatti al padding */
    height: auto; /* Lascia che l'altezza si adatti al padding */
    display: inline-flex; /* Imposta il display su inline-flex per centrare l'icona */
    justify-content: center; /* Centra l'icona orizzontalmente */
    align-items: center; /* Centra l'icona verticalmente */
}

.openbtn:hover {
    background-color: #9eb278;
}
/*----------------------------------------------------------------------------------------------------*/